# .
.DS_Store
/eclipse-build
/classes
**/build
/idea-build
**/dist
**/lib
/*~
/velocity.log
/build.properties
/.idea
**/*.iml
**/*.ipr
**/*.iws
/.project
/.classpath
/.settings
/.caches
/prj.el
/bin
/bin.*
/nbproject
/nb-build
**/node_modules
**/*.log
**/*.log.*

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/target/
.springBeans
